body {
  background-color: #CEF6F5;
}
a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigdiv {

  background-color: lightgreen;
  padding: 20px 60px 60px 60px;
  border-radius: 20px;
  border-color: #585858;
  border-width: medium;
  border-style: solid;
}
.nav p {
  width: 100%;
  height: 100%;
}
.t {
  text-indent: 65px;
}
.t2 {
  text-indent: 65px;
  height: 20px;
}

.ul{
  margin-left: 20px;
  height: 60px;
}
.t3{

}

.nav {
  width: 400px;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teilung {
  display: grid;
  grid-template-columns: 1fr 1fr;
  visibility: hidden;
}

.sp1 {
  width: 200px;
  height: 100%;
  background-color: green;
  margin: 0 0 0 0;
}

.sp2 {
  width: 200px;
  height: 100%;
  background-color: lightblue;
  margin: 0 0 0 0;
}
